<div id="<%= dom_id team %>">
  <p>
    <strong>Name:</strong>
    <%= team.name %>
  </p>

  <p>
    <strong>Imagem:</strong>
    <%= team.imagem %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= team.status %>
  </p>

</div>
