<p style="color: green"><%= notice %></p>

<h1>Cadastro dos times de futebol</h1>

<div id="teams">
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Imagem</th>
        <th>Status</th>
        <th>Data criação</th>
        <th>Data atualização</th>
        <th>Editar</th>
        <th>Excluir</th>
      </tr>
    </thead>
    <tbody >

      <% @teams.each do |team| %>
        <%= render team %>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New team", new_team_path %>
<br>
<%= link_to "Home", root_path %>