<div id="<%= dom_id championship %>">
  <p>
    <strong>Name:</strong>
    <%= championship.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= championship.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= championship.status %>
  </p>

</div>
