<h1>Editing championship</h1>

<%= render "form", championship: @championship %>

<br>

<div>
  <%= link_to "Show this championship", @championship %> |
  <%= link_to "Back to championships", championships_path %>
</div>
