<div id="<%= dom_id clash %>">
  <p>
    <strong>Score home:</strong>
    <%= clash.score_home %>
  </p>

  <p>
    <strong>Score visit:</strong>
    <%= clash.score_visit %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= clash.status %>
  </p>

</div>
